@page "/pannelli/crea"

<h3>CreaPannello</h3>

<PanelForm mioPannello="myPanel" Salva="Save"></PanelForm>

@code {
    public PannelloFV myPanel = new PannelloFV();

    private void Save()
    {
        PannelloFV nuovoPannello = new PannelloFV(myPanel.Marca, myPanel.Modello, myPanel.PeakPower);

    }




}
