@page "/"

<h1>Gestione produzione elettrica da pannelli fotovoltaici</h1>

La nostra app permette di monitorare la produzione di diversi modelli di pannelli per verificare quale di questi abbia il maggior rendimento

