@page "/pannelli"
<h3>Pannelli</h3>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Marca</th>
            <th scope="col">Modello</th>
            <th scope="col">PeakPower</th>
            <th scope="col">Comandi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PannelloFV item in lpf)
        {
        <tr>
            <td> @item.IdPannello </td>
            <td> @item.Marca </td>
            <td> @item.Modello </td>
            <td> @item.PeakPower </td>
            <td> <a href="/pannelli/modifica/@item.IdPannello">Modifica</a> </td>
        </tr>
        }
    </tbody>
</table>


@code {

    List<PannelloFV> lpf = PannelloFV.ListaPannelli;

}
